{% extends 'admin/adminbase.html' %}


 {% block content %}
<div class="container-fluid ">
    <table class="table table-bordered border-primary table-hover">
        <thead class="text-light bg-dark">
        <tr>
        <th>SL NO</th>
        <th>DATE</th>
        <th>START TIME</th>
        <th>END TIME</th>
        <th>STATUS</th>
        <th>DISABLE</th>
        </tr>
        </thead>

        <tbody class="table table-dark table-striped-columns">
        {% for i in  data %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.date}}</td>
        <td>{{i.starting_time}}</td>
        <td>{{i.ending_time}}</td>
        <td>{{i.status}}</td>
        <td><a  class="btn btn-primary btn-sm" href="{% url 'disable' i.id %}">DISABLE</a></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>


{% endblock %}