{% extends 'workmanager/workmanagerbase.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container-fluid">
<table class="table table-dark text-light table-striped">
    <thead>
    <tr>
    <th>Date</th>
    <th>Starting Time</th>
    <th>Ending Time</th>
    <th>Status</th>
    </tr>
    </thead>

    <tbody>
    {% for i in view %}
    <tr>
        <td>{{i.schedule.date}}</td>
        <td>{{i.schedule.starting_time}}</td>
        <td>{{i.schedule.ending_time}}</td>
        <td>
            {% if i.status == 0 %}
            <a type="submit" class="btn btn-success" href="{% url 'approval' i.id %}"> APPROVE</a>
            <a type="submit" class="btn btn-danger" href="{% url 'reject' i.id %}">REJECT</a>
            {% elif i.status == 1 %}
            <p class="text-success">Approved</p>
            {% else %}
            <p class="text-danger">Rejected</p>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>

{% endblock %}